*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

img {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin-bottom: .7em;
}

p {
  font-family: 'Outfit', sans-serif;
  font-size: .94rem;
  padding: .5em;
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-bottom: 1em;
}

.container {
  width: 80%;
  max-width: 350px;
  margin: 8em auto;
  padding: 1.2em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}